<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Threat: <%= @search_result.threat_id %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> alert-dismissible" role="alert" style="padding-left:0!important;"><%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-table fa-fw"></i> Threat Info
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <% if @search_result %>
              <% @search_result.attributes.each do |name, value| %>
                  <% next if current_user && !current_user.is_admin && @skip_columns.include?(name) %>
                  <% next if value.nil? || value == '' %>
                  <div class="list-group-item">
                    <%= value %>
                    <span class="pull-right text-muted small"><em><%= t(name) %></em></span>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Gauge Bar
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="kuma-gauge" class="js-gauge gauge col-xs-6" data-value="<%= @search_result.threat_tri.round(4)*100 %>"></div>

        <div class="col-xs-6">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= @search_result.threat_tri.round(4)*100 %>%</div>
                  <div>TRI</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Histogram
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <script>var histogram_data = <%= @histogram_data.html_safe %>;</script>
        <div id="histogram-chart"></div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
</div>
<!-- /.row -->