<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Analytics</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Top 10 ThreatDB entries by TRI
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                  <th>Threat Record as a Key</th>
                  <th>Source</th>
                  <th>Threat Record Indicator (TRI)</th>
                  <th>Risk</th>
                  <th>Country</th>
                  <th>ASN</th>
                </tr>
                </thead>
                <tbody>
                <%@search.each do |n|%>
                <tr>
                  <td><%=n[:threat_id]%></td>
            		  <%if !n[:source_ids]%>
                      <td><%=n[:source_ids]%></td>
            		  <%else%>
            		      <td><%=n[:source_ids][0]%></td>
            		  <%end%>
                  <td><%=n[:threat_tri]%></td>
                  <td><%=n[:risk]%></td>
                  <td><%=n[:country]%></td>
                  <td><%=n[:asn]%></td>
                </tr>
                <%end%>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.col-lg-4 (nested) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Top 10 countries by Count
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                  <th>Country</th>
                  <th>Count</th>
                </tr>
                </thead>
                <tbody>
                  <%temp=1%>
                  <%@search_country.response[:aggregations][:group_by_country][:buckets].each do |n|%>
                  <tr>
                    <td id='<%="key_#{temp}" %>'><%=n[:key]%></td>
                    <td id='<%="count_#{temp}" %>'><%=n.doc_count%></td>
                  </tr>
                  <%temp+=1%>
                  <%end%>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.col-lg-4 (nested) -->
          <div class="col-lg-8">
            <div class="flot-chart">
              <div class="flot-chart-content" id="flot-pie-chart"></div>
            </div>
          </div>
          <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Top 10 countries by Avg Tri
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                  <th>Country</th>
                  <th>Avg TRI</th>
                </tr>
                </thead>
                <tbody>
                  <%temp=1%>
                  <%@search_by_tri.response[:aggregations][:group_by_country][:buckets].each do |n|%>
                  <tr>
                    <td id='<%="country_#{temp}" %>'><%=n[:key]%></td>
                    <td id='<%="tri_#{temp}" %>'><%=n[:average_threat_tri][:value]%></td>
                  </tr>
                  <%temp+=1%>
                  <%end%>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.col-lg-4 (nested) -->
          <div class="col-lg-8">
            <div class="flot-chart">
              <div class="flot-chart-content" id="flot-pie-chart-2"></div>
            </div>
          </div>
          <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
