<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="/">

  <title>Crypteia Threat Portal</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield(:head_stylesheets) %>
  <%= yield(:head_javascripts) %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Crypteia Threat Portal</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.email if user_signed_in? %>
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">

          <% if user_signed_in? %>
              <li>
                <%= link_to '<i class="fa fa-user fa-fw"></i> User Profile'.html_safe, edit_user_registration_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to '<i class="fa fa-sign-out fa-fw"></i> Logout'.html_safe, destroy_user_session_path %>
              </li>
          <% else %>
              <li>
                <%= link_to '<i class="fa fa-sign-in fa-fw"></i> Login'.html_safe, new_user_session_path %>
              </li>
              <li>
                <%= link_to '<i class="fa fa-sign-in fa-fw"></i> Sign up'.html_safe, new_user_registration_path %>
              </li>
          <% end %>

        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a href="/"><i class="glyphicon glyphicon-search"></i> Search</a>
          </li>
          <li>
            <a href="/analytics"><i class="fa fa-dashboard fa-fw"></i> Analytics</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-table fa-fw"></i> Admin<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="/adminsettings/1/edit">Edit columns</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
          <li>
            <a href="#"><i class="fa fa-gears fa-fw"></i> Api<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="/api/search/66.197.114/page_num/3">Search example</a>
              </li>
              <li>
                <a href="/api/threat/daviaardell.org">Threat example</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
          <li>
            <a href="#"><i class="fa fa-gears fa-fw"></i> Threat example<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="/search/5c7b2f04-24b9-4f90-9733-9196371652c5">Show</a>
              </li>
              <li>
                <a href="/search/5c7b2f04-24b9-4f90-9733-9196371652c5/edit">Edit</a>
              </li>
              <li>
                <a href="/search/5c7b2f04-24b9-4f90-9733-9196371652c5/edit">Delete</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">

    <%= yield %>

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<%= javascript_include_tag 'application' %>
<%= yield(:body_javascripts) %>



</body>

</html>